*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
$cuisineColor : hsl(12, 20%, 44%);
$priceName : hsl(14, 86%, 42%);
$backgroundColor :hsl(13, 31%, 94%);
$borderColor:hsl(7, 20%, 60%);
body{
    font-family: "poppins",sans-serif;
    background-color: $backgroundColor;
    .container{
        display: flex;
        justify-content: space-around;
        .first-container{
            h1{
                margin-top: 10px;
            }
            
            .food-container{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
                margin-top: 20px;

                .food-image1{
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    position: relative;
                    &:hover{
                        border: 2.5px solid $priceName;
                    }
                }
                .food-image2{
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    position: relative;
                    &:hover{
                        border: 2.5px solid $priceName;
                    }
                }
                .food-image3{
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    position: relative;
                    &:hover{
                        border: 2.5px solid $priceName;
                    }
                }
                .food-image4{
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    position: relative;
                    &:hover{
                        border: 2.5px solid $priceName;
                    }
                }
                .food-image5{
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    position: relative;
                    &:hover{
                        border: 2.5px solid $priceName;
                    }
                }
                .food-image6{
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    position: relative;
                    &:hover{
                        border: 2.5px solid $priceName;
                    }
                    
                }
                .food-image7{
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    position: relative;
                    &:hover{
                        border: 2.5px solid $priceName;
                    }
                }
                .food-image8{
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    position: relative;
                    &:hover{
                        border: 2.5px solid $priceName;
                    }
                }
                .food-image9{
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    position: relative;
                    &:hover{
                        border: 2.5px solid $priceName;
                    }
                }
                #btn{
                    position: absolute;
                    top: 250px;
                    left: 180px;
                    display: flex;
                    justify-content: center;
                    padding: 7px;
                    border-radius: 30px;
                    background-color: white;
                    width: 120px;
                    border: 1px solid $borderColor;
                    .btn{
                        margin-left: 5px;
                        margin-top: 4px;
                    }
                   
                }
                #btn2{
                    position: absolute;
                    top: 250px;
                    left: 415px;
                    display: flex;
                    justify-content: center;
                    padding: 7px;
                    border-radius: 30px;
                    background-color: white;
                    width: 120px;
                    border: 1px solid $borderColor;
                    .btn{
                        margin-left: 5px;
                        margin-top: 4px;
                    }
                }
                #btn3{
                    position: absolute;
                    top: 245px;
                    left: 640px;
                    display: flex;
                    justify-content: center;
                    padding: 7px;
                    border-radius: 30px;
                    background-color: white;
                    width: 120px;
                    border: 1px solid $borderColor;
                    .btn{
                        margin-left: 5px;
                        margin-top: 4px;
                    }
                }
                #btn4{
                    position: absolute;
                    top: 555px;
                    left: 180px;
                    display: flex;
                    justify-content: center;
                    padding: 7px;
                    border-radius: 30px;
                    background-color: white;
                    width: 120px;
                    border: 1px solid $borderColor;
                    
                    .btn{
                        margin-left: 5px;
                        margin-top: 4px;
                    }
                   
                }
                #btn5{
                    position: absolute;
                    top: 555px;
                    left: 410px;
                    display: flex;
                    justify-content: center;
                    padding: 7px;
                    border-radius: 30px;
                    background-color: white;
                    width: 120px;
                    border: 1px solid $borderColor;
                    .btn{
                        margin-left: 5px;
                        margin-top: 4px;
                    }
                   
                }
                #btn6{
                    position: absolute;
                    top: 555px;
                    left: 640px;
                    display: flex;
                    justify-content: center;
                    padding: 7px;
                    border-radius: 30px;
                    background-color: white;
                    width: 120px;
                    border: 1px solid $borderColor;
                    .btn{
                        margin-left: 5px;
                        margin-top: 4px;
                    }
                   
                }
                #btn7{
                    position: absolute;
                    top: 865px;
                    left: 180px;
                    display: flex;
                    justify-content: center;
                    padding: 7px;
                    border-radius: 30px;
                    background-color: white;
                    width: 120px;
                    border: 1px solid $borderColor;
                    .btn{
                        margin-left: 5px;
                        margin-top: 4px;
                    }
                   
                }
                #btn8{
                    position: absolute;
                    top: 865px;
                    left: 415px;
                    display: flex;
                    justify-content: center;
                    padding: 7px;
                    border-radius: 30px;
                    background-color: white;
                    width: 120px;
                    border: 1px solid $borderColor;
                    .btn{
                        margin-left: 5px;
                        margin-top: 4px;
                    }
                   
                }
                #btn9{
                    position: absolute;
                    top: 865px;
                    left: 640px;
                    display: flex;
                    justify-content: center;
                    padding: 7px;
                    border-radius: 30px;
                    background-color: white;
                    width: 120px;
                    border: 1px solid $borderColor;
                    .btn{
                        margin-left: 5px;
                        margin-top: 4px;
                    }
                   
                }
                p{
                    font-size: 12.5px;
                    margin-top: 20px;
                    color: $cuisineColor;
                }
                h4{
                    margin-top: 5px;
                    font-size: 13px;
                }
                .price{
                   margin-top: 5px;
                   color: $priceName;
                }
            }
        }
        .second-container{
            .order-container{
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                margin-top: 65px;
                h2{
                    color: $priceName;
                }
                .cake-logo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 150px;
                    }
                   
                }
                p{
                    color: $cuisineColor;
                }
            }
        }
    }

}