@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


body{
    font-family: "Kumbh Sans", sans-serif;
}


.nav-items{
    display: none;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 5px;

}

.cart-logo{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}
.profile-logo{
    height: 30px;
    width: 30px;
    margin-left: 15px;

    &:hover{
        border:2px solid orange;
        border-radius: 100%;
    }
}
.humberger-icon{
    margin-right: 15px;
}


.show-image{
    width: 360px;
    height: 300px;
    border-radius: 10px;
}
.small-image-container{
    display: none;
}
.company-name{
    color: hsl(219, 9%, 45%);
}
.about-product{
    width: 370px;
    word-spacing: 4px;
    color: hsl(219, 9%, 45%);
}

.price-container{
    display: flex;
    justify-content: space-between;
}
.first-price-container{
    display: flex;
}
h3{
    margin-right: 15px;
    text-decoration: line-through;
    color: hsl(219, 9%, 45%);
}
.discount-percentage{
    background-color: black;
    color: white;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    height: 23px;
    margin-left:10px;
}

.add-to-cart-btn{
    background-color: hsl(26, 100%, 55%);
    color: black;
    display: flex;
    justify-content: center;
    width: 360px;
    border-radius: 10px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    background-color:  hsl(25, 100%, 94%);
    border-radius: 10px;
    margin-bottom: 10px;
    width: 360px;
}
.cart{
    display: flex;
}
.cart-img{
    width: 20px;
    height:20px;
    margin-top: 20px;
    margin-right: 10px;
}
.cart:hover{
    cursor: pointer;
}
.plus{
    width: 10px;
    height: 5px;
    margin-top: 28px;
}
.minus{
    width: 12px;
    height: 12px;
    margin-top: 25px;
}

@media screen and (min-width:400px){
    header{
        margin:30px;
    }
    nav{
        display: flex;
    }
    .logo{
        height: 25px;
        margin-top:15px;
    }
    .profile-image-container{
        margin-top: 15px;
    }
    .nav-items{
        display: block;
        display: flex;
        margin-left: 50px;
    }  
    .nav-item{
        margin-left: 25px;
    }
    .profile-logo{
        height: 40px;
        width: 40px;
    }
    p{
        margin-left: 10px;
        font-size: 20px;
         
        &:hover{
            cursor: pointer;
        }
    }
    .humberger-icon{
        display: none;
    }
    .small-image-container{
        display: block;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    h1{
        font-size: 40px;
        width:400px;
        margin-left: 10px;
        margin-bottom: 0px;
    }
    main{
        display: flex;
        margin-left: 350px;
        margin-top: 100px;
    }
    h2,h3{
        margin: 0px;
    }
    .company-name{
        color: hsl(219, 9%, 45%);
        margin-left: 10px;
    }
    .show-image{
        width: 450px;
        height: 450px;
    }
    .small-image{
        height: 100px;
        width: 100px;
        border-radius: 8px;
    }
    .small-image:hover{
        border:  2px solid orange;
        
    }
    .text-container{
        margin-left: 100px;
    }
    .about-product{
        width: 500px;
        margin-bottom: 0px;

    }
    .price-container{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .first-price-container{
        margin-bottom: 0px;
    }
    .discount-percentage{
        margin-top: 4px;
    }
    .btn-container{
        display: flex;
        justify-content: space-between;
        width: 500px;
        margin-top: 10px;
    }
    
    .buttons{
        width: 200px;
        height: 60px;
    }
    .add-to-cart-btn{
        height: 60px;
        margin-left: 10px;
    }
}