@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


body{
    font-family: "Kumbh Sans", sans-serif;
}


header{
    display: flex;
    justify-content:space-around;
    padding: 20px;
}

nav{
    display: flex;

}
.logo{
    width: 150px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.nav-items{
    display: flex;
}
p{
    margin-left: 20px;
    cursor: pointer;
}
.profile-image-container{
    margin-top: 10px;
    display: flex;
}
.cart-logo{
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin-top: 11px;

}
.profile-logo{
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
    &:hover{
        border: 2px solid orange;
        border-radius: 50%;
    }
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    margin-top: 80px;
}
.image-container{
    display: flex;
    flex-direction: column;
}
.company-name{
    letter-spacing: 1px;
    font-style: bold;
}

.show-image{
    width: 350px;
    height: 350px;
    border-radius: 15px;
}
.small-image-container{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;

}
.small-image{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-left: 15px;
    /* margin-top: 10px; */
    margin: 5px;

    &:hover{
        border: 2px solid orange;
        /* border-radius: 50%; */
    }
}
h1{
    margin-left: 20px;
}

.price-container{
    display: flex;
    margin-left: 20px;
}
.discount-percentage{
    margin-top: 22px;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 5px;
    height: 20px;
    margin-left: 10px;
}
h3{
    margin-left:20px;
}
.about-product{
    width: 400px;
}